<section class="hero-section" id="">
  <div class="container">
    <div class="text-content">
      <div class="badge">
        <span>CYBERSECURITY ANALYST</span>
      </div>
      <h1>
        <span class="gradient-text">Danilo Nascimento</span> <br />
      </h1>
      <h2 class="text-2xl md:text-3xl font-bold mb-6 text-[#8892b0]">Cybersecurity Analyst Jr | SOC/NOC Specialist</h2>
      <p>
        Especializado em detecção de ameaças, resposta a incidentes e segurança defensiva.
        Protegendo infraestruturas críticas com soluções inovadoras.
      </p>
      <div class="buttons">
        <a href="#contact" class="btn btn-primary">
          <i class="fas fa-envelope"></i> Contate-me
        </a>
<a href="assets/docs/seu-curriculo.pdf" download="Curriculo-Danilo-Nascimento.pdf" 
   class="inline-flex items-center px-4 py-2 border border-[#64ffda] text-[#64ffda] rounded-md hover:bg-[#64ffda]/10 transition duration-300">
  <i class="fas fa-download mr-2"></i> Baixar CV
</a>
      </div>
      <div class="status">
        <div><span class="dot"></span>SOC ATIVO</div>
        <div><span class="dot"></span>24/7 MONITORING</div>
      </div>
    </div>
    <div class="image-content">
      <div class="hexagon glow">
        <div class="hexagon inner">
          <img
            src="danilo.jpeg"
            alt="Danilo Nascimento"
          />
        </div>
      </div>

      <a href="https://www.infomach.com.br/" target="_blank" rel="noopener noreferrer" class="badge-bottom-link">
        <div class="badge-bottom">
          <img src="t.png" alt="Logo da Empresa" class="logo-img" width="250" height="60">
        </div>
      </a>

      <div class="icon shield"><i class="fas fa-shield-alt"></i></div>
      <div class="icon search"><i class="fas fa-search"></i></div>
    </div>
  </div>
  <div class="background"></div>
</section>
